@import '../../mixins.scss';

.visionHeroSection{
    &__header{
        display: flex;
        height: 100vh;
        width: 75%;
        margin: 0 auto;
        img{
            width: 60%;
            height: 70%;
            margin-top: 23vh;
            border-radius: 20px;
        }
        h1{
            position: absolute;
            right: 10%;
            left: 59%;
            bottom: 30%;
            font-size: 3rem;
            font-weight: 600;
            color: $darkText;
        }
    }

    &__content{
        height: 130vh;
        width: 75%;
        margin: 2rem auto;

        h1{
            text-align: center;
            font-size: 3rem;
            margin-bottom: 4rem;
        }

        &__gridContainer{
            display: grid;
            height: 110vh;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-gap: 2rem;

            img{
                border-radius: 10px;
                width: 100%;
                height: 100%;
            }
            p{
                line-height: 1.5em;
                font-size: 1.5rem;
            }
            :nth-child(1){
                grid-column: 1/3;
                grid-row: 1/2;
            }
            :nth-child(2){
                grid-column: 3/5;
                grid-row: 1/2;
            }
            :nth-child(3){
                grid-column: 1/3;
                grid-row: 2/3;
            }
        }
    }
    &__cta{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 30vh;
        h2{
            font-size: 1.5rem;
        }
    }

}