@import '../../mixins.scss';

.milestone {
    position: relative;
    border-left: 1px solid $ctaColor;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &:before {
        content: '';
        position: absolute;
        top: 2rem;
        left: 0;
        transform: translate(-50%, 0%);
        width: 1rem;
        height: 1rem;
        background-color: $ctaColor;
    }

    &__yearAndMilestone {
        width: 25%;

        h1 {
            margin-top: 1rem;
        }
    }

    &__additionalInfo {
        width: 60%;
    }
}
