@import '../../mixins.scss';

.milestone {
    position: relative;
    border-left: 1px solid $ctaColor;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include phone {
        flex-direction: column;
    }
    @include smphone {
        padding: 2rem 0 2rem 2rem;
    }

    &:before {
        content: '';
        position: absolute;
        top: 2rem;
        left: 0;
        transform: translate(-50%, 0%);
        width: 1rem;
        height: 1rem;
        background-color: $ctaColor;
    }

    &__yearAndMilestone {
        width: 25%;
        @include phone {
            width: 100%;
        }

        h1 {
            margin-top: 1rem;
            @include phone {
                margin-bottom: 2rem;
                margin-top: 0.5rem;
            }
        }
    }

    &__additionalInfo {
        width: 60%;
        @include phone {
            width: 100%;
        }
    }
}
