// sizes
$smText: 0.8rem;
$tablet: 768px;
$phone: 510px;
$smphone: 300px;

// color
$darkText: #1b1c1e;
$lightText: #fbfbfb;
$ctaColor: #16b9ad;
$shade: #edeeee;

@mixin transition($duration, $transition) {
    transition: $duration $transition;
}

@mixin tablet {
    @media only screen and (max-width: $tablet) {
        @content;
    }
}

@mixin phone {
    @media only screen and (max-width: $phone) {
        @content;
    }
}

@mixin smphone {
    @media only screen and (max-width: $smphone) {
        @content;
    }
}
