// sizes
$smText: 0.8rem;
$tablet: 768px;
$phone: 500px;

// color
$darkText: #1b1c1e;
$lightText: #fbfbfb;
$ctaColor: #16b9ad;
$shade: #edeeee;

@mixin transition($duration, $transition) {
    transition: $duration $transition;
}

@mixin tablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: $phone) {
        @content;
    }
}
